nav {
	height: 85px;

	a {
		display: flex;
		align-items: center;
		align-content: center;

		.navbar-brand {
			text-transform: uppercase;
			font-weight: bold;
		}

		&.nav-link {
			cursor: pointer;
		}

		&.active {
			font-weight: bold;
		}
	}
}

#breadcrumb {
	font-size: 14px;
	margin-top: 50px;

	a {
		text-decoration: none;
	}
}
